@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Cormorant:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:700&display=swap);

@import url(//db.onlinewebfonts.com/c/0744a43ed7aac352ec78c1404c890d72?family=Gilroy+Light&display=swap);

@import url(//db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy-Bold&display=swap);

@import url(//db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova&display=swap);

@import url(//db.onlinewebfonts.com/c/12259b169c5f9fe42a8bcc738952ea91?family=Proxima+Nova+Lt&display=swap);

@import url(//db.onlinewebfonts.com/c/03064356c75fa5724311add92fe92b0f?family=Gilroy+Black);

._container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
}

body.__noscroll {
  overflow: hidden;
}

.title {
  font-family: "Cormorant";
  color: #937a60;
}

.btn {
  width: 260px;
  background: #af9678;
  border-radius: 8px;
  padding: 14px 27px;
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  text-align: center;
  color: #ffffff;
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header__body {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 32px;
  line-height: 162%;
  color: #c0ad95;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}

.header__menu-link {
  font-family: "Gilroy Light";
  font-size: 24px;
  line-height: 85%;
  color: #ffffff;
  margin-right: 20px;
  max-width: 128px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Gilroy Light";
  line-height: 117%;
  color: #ffffff;
  text-align: center;
}

.header__info a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

.header.__active {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #00000075;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.banner {
  margin-bottom: 144px;
  background: -webkit-gradient(linear, left bottom, left top, from(#3a302538), to(#16120aa6)), url(../img/header/banner.jpg) no-repeat center center/cover;
  background: -o-linear-gradient(bottom, #3a302538, #16120aa6), url(../img/header/banner.jpg) no-repeat center center/cover;
  background: linear-gradient(0deg, #3a302538, #16120aa6), url(../img/header/banner.jpg) no-repeat center center/cover;
  background-attachment: fixed !important;
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__title {
  font-family: "Cormorant";
  line-height: 40%;
  color: #ffffff;
}

.banner__subtitle {
  font-family: "Gilroy Light";
  line-height: 85%;
  color: #ffffff;
  text-shadow: 3px 1px 6px rgba(186, 217, 0, 0.26);
  margin-bottom: 20px;
}

.banner__times-left {
  margin-bottom: 58px;
}

.banner__times-left-title {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner__times-left-days {
  position: relative;
  background: #ffffff;
  font-family: "Gilroy Light";
  line-height: 108%;
  color: #11100e;
  margin-right: 10px;
}

.banner__times-left-days::after {
  bottom: -31px;
  left: 0;
  position: absolute;
  content: "Дни";
  font-family: "Gilroy Light";
  font-size: 21px;
  line-height: 133%;
  color: #ffffff;
}

.banner__times-left-hours {
  position: relative;
  background: #ffffff;
  font-family: "Gilroy Light";
  line-height: 108%;
  margin-right: 10px;
  color: #11100e;
}

.banner__times-left-hours::after {
  bottom: -31px;
  left: -8px;
  position: absolute;
  content: "Часы";
  font-family: "Gilroy Light";
  font-size: 21px;
  line-height: 133%;
  color: #ffffff;
}

.banner__times-left-minutes {
  position: relative;
  background: #ffffff;
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: #11100e;
  margin-right: 10px;
}

.banner__times-left-minutes::after {
  bottom: -31px;
  left: 0;
  position: absolute;
  content: "Мин";
  font-family: "Gilroy Light";
  font-size: 21px;
  line-height: 133%;
  color: #ffffff;
}

.banner__times-left-seconds {
  position: relative;
  background: #ffffff;
  font-family: "Gilroy Light";
  line-height: 108%;
  color: #11100e;
}

.banner__times-left-seconds::after {
  bottom: -31px;
  left: 0;
  position: absolute;
  content: "Сек";
  font-family: "Gilroy Light";
  font-size: 21px;
  line-height: 133%;
  color: #ffffff;
}

.banner__phone {
  margin-bottom: 28px;
}

.banner__phone input[type=number] {
  -moz-appearance: textfield;
}

.banner__phone input::-webkit-outer-spin-button,
.banner__phone input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.banner__phone input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: rgba(7, 7, 7, 0.39);
  padding: 12px 20px;
  width: 510px;
  background: #fbfbfb;
  border-radius: 8px;
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
}

.banner__phone input::-webkit-input-placeholder {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: rgba(7, 7, 7, 0.39);
}

.banner__phone input::-moz-placeholder {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: rgba(7, 7, 7, 0.39);
}

.banner__phone input:-ms-input-placeholder {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: rgba(7, 7, 7, 0.39);
}

.banner__phone input::-ms-input-placeholder {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: rgba(7, 7, 7, 0.39);
}

.banner__phone input::placeholder {
  font-family: "Gilroy Light";
  font-size: 26px;
  line-height: 108%;
  color: rgba(7, 7, 7, 0.39);
}

.banner__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__vertical-line1 {
  height: 449px;
  width: 2px;
  background: #ffffff;
}

.banner__vertical-line2 {
  height: 240px;
  width: 2px;
  background: #ffffff;
}

.banner__social-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0;
}

.banner__social-img :not(:last-child) {
  margin-bottom: 10px;
}

.sale-img {
  position: absolute;
  top: 144px;
  left: 0;
}

.social-info {
  font-size: 19px;
}

.menu-mobile {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #af9678;
  z-index: 4;
  right: -100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: auto;
  opacity: 0;
}

.menu-mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile__close {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}

.menu-mobile__close::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 3px;
  top: 10px;
  left: 19px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #af9678;
}

.menu-mobile__close::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 3px;
  top: 10px;
  left: 19px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #af9678;
}

.menu-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px 0 0 100px;
}

.menu-mobile__list :not(:last-child) {
  margin-bottom: 20px;
}

.menu-mobile__link {
  font-family: "Gilroy Light";
  font-size: 40px;
  color: #ffffff;
}

.menu-mobile__link:hover {
  color: #000000;
}

.menu-mobile.__active {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*--------------------*/

.mebel-cost__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mebel-cost__img {
  position: relative;
  margin-right: 88px;
}

.mebel-cost__img::after {
  position: absolute;
  content: "";
  top: -28px;
  right: 0;
  width: 100px;
  height: 2px;
  background: #000;
}

.mebel-cost__img::before {
  position: absolute;
  content: "";
  top: 0;
  right: -28px;
  height: 100px;
  width: 2px;
  background: #000;
}

.mebel-cost__img-wrap {
  position: relative;
  width: 360px;
  height: 544px;
}

.mebel-cost__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mebel-cost__img-wrap::after {
  position: absolute;
  content: "";
  bottom: -28px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #000;
}

.mebel-cost__img-wrap::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -28px;
  height: 100px;
  width: 2px;
  background: #000;
}

.mebel-cost__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mebel-cost__title {
  font-family: "Cormorant";
  font-size: 68px;
  line-height: 104%;
  color: #11100e;
  max-width: 664px;
  margin-bottom: 26px;
}

.mebel-cost__subtitle {
  font-family: "Gilroy Light";
  font-size: 30px;
  max-width: 664px;
  line-height: 123%;
  color: #11100e;
  margin-bottom: 34px;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__title {
  padding-top: 60px;
  border-top: 2px solid #af9678;
  margin-bottom: 40px;
  text-align: center;
}

.about-us__text {
  max-width: 1152px;
  font-family: "Gilroy Light";
  font-size: 30px;
  line-height: 147%;
  color: #000000;
}

.about-us__text-mobile {
  font-family: "Gilroy Light";
  font-size: 20px;
  line-height: 147%;
  color: #000000;
}

.about-us__text-mobile-more {
  font-family: "Gilroy Light";
  font-size: 20px;
  line-height: 147%;
  color: #000000;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.about-us__text-more-btn {
  text-align: center;
  border-bottom: 1px solid #937a60;
  font-family: "Gilroy Light";
  font-size: 19px;
  line-height: 147%;
  color: #937a60;
  width: 178px;
  margin: 0 auto;
  margin-top: 37px;
}

.about-us__text-mobile-more.__active {
  opacity: 1;
  height: 233px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  overflow: hidden;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.advantages {
  margin-bottom: 100px;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__title {
  line-height: 86%;
  margin-bottom: 50px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__advantage-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__name {
  font-family: "Gilroy Light";
  line-height: 112%;
  text-align: center;
  color: #000000;
}

.catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__tilte {
  margin-bottom: 125px;
}

.catalog__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__picture-one {
  position: relative;
  margin-right: 70px;
  width: 330px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/pic1.png) no-repeat center center/cover;
  background: -o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/pic1.png) no-repeat center center/cover;
  background: linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/pic1.png) no-repeat center center/cover;
  padding: 290px 0px;
  font-family: "Gilroy Light";
  font-size: 33px;
  line-height: 85%;
  color: #ffffff;
}

.catalog__picture-one::after {
  position: absolute;
  content: "";
  top: -28px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__picture-one::before {
  position: absolute;
  content: "";
  top: 0;
  left: -28px;
  height: 100px;
  width: 2px;
  background: #000;
}

.catalog__picture-two {
  position: relative;
  margin-right: 70px;
  width: 330px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/932.png) no-repeat center center/cover;
  background: -o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/932.png) no-repeat center center/cover;
  background: linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/932.png) no-repeat center center/cover;
  padding: 290px 0px;
  font-family: "Gilroy Light";
  font-size: 35px;
  text-align: center;
  line-height: 85%;
  color: #ffffff;
}

.catalog__picture-two::after {
  position: absolute;
  content: "";
  top: -28px;
  right: 0;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__picture-two::before {
  position: absolute;
  content: "";
  top: 0;
  right: -28px;
  height: 100px;
  width: 2px;
  background: #000;
}

.catalog__picture-three {
  position: relative;
  width: 330px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/9.png) no-repeat center center/cover;
  background: -o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.png) no-repeat center center/cover;
  background: linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.png) no-repeat center center/cover;
  padding: 290px 0px;
  font-family: "Gilroy Light";
  font-size: 29px;
  text-align: center;
  line-height: 85%;
  color: #ffffff;
}

.catalog__picture-three::after {
  position: absolute;
  content: "";
  top: -28px;
  right: 0;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__picture-three::before {
  position: absolute;
  content: "";
  top: 0;
  right: -28px;
  height: 100px;
  width: 2px;
  background: #000;
}

.catalog__picture-four {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/9.png) no-repeat center center/cover;
  background: -o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.png) no-repeat center center/cover;
  background: linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.png) no-repeat center center/cover;
  font-family: "Gilroy Light";
  font-size: 29px;
  text-align: center;
  line-height: 85%;
  color: #ffffff;
}

.catalog__text-one {
  position: relative;
}

.catalog__text-one::after {
  position: absolute;
  content: "";
  bottom: -334px;
  left: -77px;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__text-one::before {
  position: absolute;
  content: "";
  bottom: -306px;
  left: -105px;
  height: 100px;
  width: 2px;
  background: #000;
}

.catalog__text-two {
  position: relative;
}

.catalog__text-two::after {
  position: absolute;
  content: "";
  bottom: -334px;
  left: -118px;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__text-two::before {
  position: absolute;
  content: "";
  bottom: -306px;
  left: -146px;
  height: 100px;
  width: 2px;
  background: #000;
}

.catalog__text-three {
  position: relative;
}

.catalog__text-three::after {
  position: absolute;
  content: "";
  bottom: -314px;
  right: -108px;
  width: 100px;
  height: 2px;
  background: #000;
}

.catalog__text-three::before {
  position: absolute;
  content: "";
  bottom: -287px;
  right: -136px;
  height: 100px;
  width: 2px;
  background: #000;
}

.materials {
  margin-bottom: 150px;
}

.materials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.materials__tabs-wrap {
  width: 910px;
  margin: 0 auto;
}

.materials__tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

.materials__materials {
  font-family: "Gilroy Light";
  line-height: 70%;
  color: #000000;
  cursor: pointer;
  text-align: center;
}

.materials__furniture {
  cursor: pointer;
  font-family: "Gilroy Light";
  line-height: 70%;
  text-align: center;
  color: #000000;
  width: 33.3%;
}

.row-tabs {
  left: -33.5%;
  bottom: -20px;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateX(0) scaleX(0.333);
      -ms-transform: translateX(0) scaleX(0.333);
          transform: translateX(0) scaleX(0.333);
}

.row-tabs.__active {
  -webkit-transform: translate(66.666%) scaleX(0.333);
      -ms-transform: translate(66.666%) scaleX(0.333);
          transform: translate(66.666%) scaleX(0.333);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.materials__tab-materials {
  margin-top: 65px;
}

.materials__tab-furniture {
  margin-top: 65px;
  display: none;
}

.materials__tab-materials-slider {
  max-width: 1112px;
  position: relative;
  padding: 0 30px;
}

.materials__tab-materials-slider-slide1 {
  width: 509px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.materials__tab-materials-slider-slide1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.materials__tab-materials-slider-slide-img {
  height: 100%;
  max-width: 509px;
  width: 100%;
}

.materials__tab-materials-slider-slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.materials__tab-materials-slider-slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 509px;
  height: 380px;
}

.materials__tab-materials-slider-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 509px;
  height: 380px;
}

.materials__tab-materials-slider-slide3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.materials__tab-materials-slider-name {
  font-family: "Gilroy Light";
  font-size: 30px;
  line-height: 93%;
  margin-top: 28px;
  color: #000000;
}

.materials__tab-materials-slider-button-prev {
  left: 0;
  z-index: 5;
  width: 20px;
  height: 36px;
  color: #000;
  position: absolute;
  background: url(../img/catalog/chevron-left.svg) no-repeat center center;
}

.materials__tab-materials-slider-button-next {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 5;
  width: 20px;
  height: 36px;
  color: #000;
  position: absolute;
  background: url(../img/catalog/chevron-left.svg) no-repeat center center;
}

@media (min-width: 320px) {
  .title {
    font-size: 39px;
    line-height: 105%;
  }

  .header__logo {
    margin-left: auto;
  }

  .header__menu-burger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__info {
    display: none;
  }

  .banner__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .banner__content {
    margin-top: 191px;
    margin-bottom: 1%;
    background: rgba(53, 53, 53, 0.24);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    padding: 32px 16px;
  }

  .banner__title {
    font-size: 39px;
    margin-bottom: 23px;
  }

  .banner__subtitle {
    font-size: 20px;
    max-width: 290px;
  }

  .banner__times-left-days {
    padding: 1px 9px;
    font-size: 19px;
  }

  .banner__times-left-days::after {
    font-size: 15px;
  }

  .banner__times-left-hours {
    padding: 1px 9px;
    font-size: 19px;
  }

  .banner__times-left-hours::after {
    font-size: 15px;
  }

  .banner__times-left-minutes {
    padding: 1px 4px;
    font-size: 19px;
  }

  .banner__times-left-minutes::after {
    font-size: 15px;
  }

  .banner__times-left-seconds {
    padding: 1px 5px;
    font-size: 19px;
  }

  .banner__times-left-seconds::after {
    font-size: 15px;
  }

  .banner__social {
    padding: 0 15px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .social-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-mobile {
    display: block;
  }

  .mebel-cost {
    margin-bottom: 70px;
  }

  .about-us {
    margin-bottom: 70px;
  }

  .about-us__title {
    font-size: 39px;
  }

  .about-us__text {
    display: none;
  }

  .advantages__title {
    font-size: 39px;
  }

  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__list :not(:last-child) {
    margin-bottom: 20px;
  }

  .advantages__advantage-pair :not(:last-child) {
    margin-right: 1%;
  }

  .advantages__name {
    width: 145px;
    font-size: 20px;
    margin-top: 0;
  }

  #advantages__name {
    margin-top: 0;
  }

  #first-advantage {
    margin-top: 0;
  }

  .catalog {
    margin-bottom: 80px;
  }

  .catalog__picture-three {
    display: none;
  }

  .catalog__picture-four {
    display: block;
    padding: 45px 10px;
    margin-top: 20px;
  }

  .materials__title {
    margin-bottom: 50px;
    line-height: 105%;
  }

  .materials__materials {
    font-size: 25px;
    width: 47%;
    margin-right: auto;
  }

  .materials__furniture {
    font-size: 25px;
    width: 45%;
  }

  .materials__tab-materials-slider-slide-img {
    max-height: 174px;
  }

  .materials__tab-materials-slider-button-prev {
    top: 20%;
  }

  .materials__tab-materials-slider-button-next {
    top: 20%;
  }
}

@media (min-width: 425px) {
  .banner__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .social-info {
    margin-left: 64px;
  }

  .advantages__name {
    width: 189px;
    font-size: 20px;
    margin-top: 0;
  }

  .catalog__picture-four {
    margin-top: 30px;
    padding: 100px 10px;
  }

  .materials__materials {
    width: 33.3%;
  }

  .materials__furniture {
    width: 33.3%;
  }

  .materials__tab-materials-slider-slide-img {
    max-height: 300px;
  }

  .materials__tab-materials-slider-button-prev {
    top: 35%;
  }

  .materials__tab-materials-slider-button-next {
    top: 35%;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 68px;
    line-height: 41%;
  }

  .banner__content {
    margin-top: 22%;
    margin-bottom: 18%;
    background: none;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }

  .banner__times-left-days {
    padding: 6px 13px;
    font-size: 26px;
  }

  .banner__times-left-days::after {
    font-size: 21px;
  }

  .banner__times-left-hours {
    padding: 6px 13px;
    font-size: 26px;
  }

  .banner__times-left-hours::after {
    font-size: 21px;
  }

  .banner__times-left-minutes {
    padding: 6px;
    font-size: 26px;
  }

  .banner__times-left-minutes::after {
    font-size: 21px;
  }

  .banner__times-left-seconds {
    font-size: 26px;
    padding: 6px;
  }

  .banner__times-left-seconds::after {
    font-size: 21px;
  }

  .sale-img {
    display: none;
  }

  .mebel-cost {
    margin-bottom: 145px;
  }

  .about-us {
    margin-bottom: 146px;
  }

  .about-us__title {
    font-size: 68px;
  }

  .about-us__text {
    display: block;
  }

  .about-us__text-mobile {
    display: none;
  }

  .about-us__text-more-btn {
    display: none;
  }

  .about-us__text-mobile-more.__active {
    display: none;
  }

  .advantages__title {
    font-size: 63px;
  }

  .advantages__advantage-pair :not(:last-child) {
    margin-right: 20px;
  }

  .advantages__name {
    font-size: 26px;
    margin-top: 20px;
  }

  #advantages__name {
    margin-top: 10px;
  }

  #first-advantage {
    margin-top: 17px;
    margin-right: 0;
  }

  .catalog {
    margin-bottom: 159px;
  }

  .materials__title {
    margin-bottom: 100px;
  }

  .materials__tabs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .materials__materials {
    font-size: 40px;
    margin-right: unset;
  }

  .materials__furniture {
    font-size: 40px;
  }

  .materials__tab-materials-slider-slide-img {
    max-height: 214px;
  }

  .materials__tab-materials-slider-button-prev {
    top: 25%;
  }

  .materials__tab-materials-slider-button-next {
    top: 25%;
  }
}

@media (min-width: 769px) {
  .banner__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .banner__social {
    -webkit-transform: translateY(111px);
        -ms-transform: translateY(111px);
            transform: translateY(111px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: 0;
  }

  .social-info {
    display: none;
    margin: 0;
  }
}

@media (min-width: 780px) {
  .catalog__picture-three {
    display: block;
  }

  .catalog__picture-four {
    display: none;
  }
}

@media (min-width: 786px) {
  .banner__title {
    font-size: 70px;
    margin-bottom: 43px;
  }

  .banner__subtitle {
    font-size: 33px;
    max-width: 612px;
  }
}

@media (min-width: 1024px) {
  .header__logo {
    margin-right: auto;
    margin-left: 0;
  }

  .header__menu-burger {
    display: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }

  .banner__container {
    max-width: 1222px;
    margin: 0 auto;
  }

  .social-info {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  .mebel-cost__container {
    padding-left: 35px;
  }

  .materials__tab-materials-slider-slide-img {
    max-height: 323px;
  }

  .materials__tab-materials-slider-button-prev {
    top: 39%;
  }

  .materials__tab-materials-slider-button-next {
    top: 39%;
  }
}

@media (min-width: 1175px) {
  .header__info {
    font-size: 24px;
  }
}

@media (min-width: 1207px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .advantages__list :not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (max-width: 1191px) {
  .catalog__picture-one::after {
    display: none;
  }

  .catalog__picture-one::before {
    display: none;
  }

  .catalog__picture-one {
    margin-right: 30px;
    width: 48%;
  }

  .catalog__picture-two::after {
    display: none;
  }

  .catalog__picture-two::before {
    display: none;
  }

  .catalog__picture-two {
    margin-right: 0;
    width: 48%;
  }

  .catalog__picture-three::after {
    display: none;
  }

  .catalog__picture-three::before {
    display: none;
  }

  .catalog__picture-three {
    margin-top: 30px;
    width: 100%;
    padding: 240px 0;
  }

  .catalog__text-one::after {
    display: none;
  }

  .catalog__text-one::before {
    display: none;
  }

  .catalog__text-two::after {
    display: none;
  }

  .catalog__text-two::before {
    display: none;
  }

  .catalog__text-three::after {
    display: none;
  }

  .catalog__text-three::before {
    display: none;
  }
}

@media (max-width: 1175px) {
  .header__logo-text {
    font-size: 30px;
  }

  .header__menu-link {
    font-size: 20px;
    margin-right: 17px;
    max-width: 110px;
  }
}

@media (max-width: 1024px) {
  .banner {
    background-attachment: unset !important;
  }

  .mebel-cost__img {
    display: none;
  }
}

@media (max-width: 780px) {
  .catalog__tilte {
    font-size: 39px;
    margin-bottom: 38px;
  }

  .catalog__picture-one {
    padding: 120px 0;
  }

  .catalog__picture-two {
    padding: 124px 0px 116px 0;
  }
}

@media (max-width: 779px) {
  .catalog__pictures {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 19px;
    padding: 12px 26px;
  }

  .banner__times-left-title {
    font-size: 18px;
  }

  .banner__phone input {
    max-width: 100%;
    font-size: 20px;
  }

  .banner__phone input::-webkit-input-placeholder {
    font-size: 20px;
  }

  .banner__phone input::-moz-placeholder {
    font-size: 20px;
  }

  .banner__phone input:-ms-input-placeholder {
    font-size: 20px;
  }

  .banner__phone input::-ms-input-placeholder {
    font-size: 20px;
  }

  .banner__phone input::placeholder {
    font-size: 20px;
  }

  .banner__vertical-line1 {
    display: none;
  }

  .banner__vertical-line2 {
    display: none;
  }

  .banner__social-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .advantages__advantage img {
    width: 80px;
    height: 80px;
  }

  .catalog__text-one {
    font-size: 23px;
  }

  .catalog__text-two {
    font-size: 23px;
  }

  .catalog__text-three {
    font-size: 23px;
  }
}

@media (max-width: 580px) {
  .banner {
    margin-bottom: 100px;
  }

  .menu-mobile__list {
    margin: 207px 0 0 83px;
  }

  .menu-mobile__link {
    font-size: 28px;
  }

  .mebel-cost__title {
    font-size: 39px;
  }

  .mebel-cost__subtitle {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .banner__btn {
    width: 100%;
  }

  .mebel-cost__btn {
    width: 100%;
  }

  .catalog__picture-one {
    margin-right: 20px;
  }

  .catalog__picture-two {
    padding: 124px 0px 116px 0;
  }

  .row-tabs {
    -webkit-transform: translate(0) scaleX(0.533);
        -ms-transform: translate(0) scaleX(0.533);
            transform: translate(0) scaleX(0.533);
    left: -25.5%;
  }

  .row-tabs.__active {
    -webkit-transform: translate(53.666%) scaleX(0.5);
        -ms-transform: translate(53.666%) scaleX(0.5);
            transform: translate(53.666%) scaleX(0.5);
  }
}
@supports (-webkit-appearance:none){
.banner{background:-webkit-gradient(linear, left bottom, left top, from(#3a302538), to(#16120aa6)), url(../img/header/banner.webp) no-repeat center center/cover}
.banner{background:-o-linear-gradient(bottom, #3a302538, #16120aa6), url(../img/header/banner.webp) no-repeat center center/cover}
.banner{background:linear-gradient(0deg, #3a302538, #16120aa6), url(../img/header/banner.webp) no-repeat center center/cover}
.catalog__picture-one{background:-webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/pic1.webp) no-repeat center center/cover}
.catalog__picture-one{background:-o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/pic1.webp) no-repeat center center/cover}
.catalog__picture-one{background:linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/pic1.webp) no-repeat center center/cover}
.catalog__picture-two{background:-webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/932.webp) no-repeat center center/cover}
.catalog__picture-two{background:-o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/932.webp) no-repeat center center/cover}
.catalog__picture-two{background:linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/932.webp) no-repeat center center/cover}
.catalog__picture-three{background:-webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/9.webp) no-repeat center center/cover}
.catalog__picture-three{background:-o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.webp) no-repeat center center/cover}
.catalog__picture-three{background:linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.webp) no-repeat center center/cover}
.catalog__picture-four{background:-webkit-gradient(linear, left bottom, left top, from(rgba(147, 122, 96, 0.75)), to(rgba(147, 122, 96, 0.75))), url(../img/catalog/9.webp) no-repeat center center/cover}
.catalog__picture-four{background:-o-linear-gradient(bottom, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.webp) no-repeat center center/cover}
.catalog__picture-four{background:linear-gradient(0deg, rgba(147, 122, 96, 0.75), rgba(147, 122, 96, 0.75)), url(../img/catalog/9.webp) no-repeat center center/cover}
.materials__tab-materials-slider-button-prev{background:url(../img/catalog/chevron-left.svg) no-repeat center center}
.materials__tab-materials-slider-button-next{background:url(../img/catalog/chevron-left.svg) no-repeat center center}
}

 @media (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 769px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 780px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 786px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1175px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1207px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1191px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1175px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 780px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 779px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 580px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}
